#container
{
    -fx-background-color: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

#registerbutton
{-fx-background-color:#38ef7d}
#clubbutton
{
    -fx-background-color: #38ef7d;
}
#clubbutton1
{
    -fx-background-color: #38ef7d;
}
#schedulebutton
{
    -fx-background-color: #38ef7d;
}