#container
{
    -fx-background-color: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.button{
-fx-background-color: #38ef7d;
}
.button:hover{
-fx-background-color : #239c9c;
-fx-background-radius: 0 30 0 30;
}